body {
  font-family: 'Montserrat', sans-serif!important;
  background: #19191c;
  color: #ffffff;
}

.header {
  background: #202024;
  background-image: url("assets/vader 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
  padding-left: 20%;
  letter-spacing: .4em;
}

.title {
  font-size: 7em;
}

.input-xl {
  height:60px;
}

.btn-rounded {
  border-radius: 25px;
  border: none;
}

.btn-about {
  border: 2px solid #b93c50;
  padding: 15px 20px 15px 20px;
  background: none;
  width: 400px;
  height: 70px;
  color: #ffffff;
}

.fa {
  float: right;
}

.sign-up-btn {
  width: 100%;
  background: #5e73ba;
}

.social-wrapper {
  margin-top: 50px;
  font-family: socialico;
  font-size: 3em;
  letter-spacing: 20px;
}

.social-icon {
  /*font-size: 30px;*/
}

#footer {
  /*padding-top: 20px;*/
}

.policy-link {
  color: #ffffff !important;
  font-size: 12px;
}

.box {
  width: 400px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #535355;
  color: #535355;
  font-size: 12px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
