body {
  font-family: 'Montserrat', sans-serif!important;
  background: #19191c;
  color: #ffffff;
}

.header {
  background: #202024;
  background-image: url("assets/vader 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 700px;
  letter-spacing: .35em;
}

.title-container {
  max-width: 350px;
}

.title {
  /*font-family: impact;*/
  font-size: 5em;
}

.title-script {
  font-family: 'Pinyon Script', cursive;
  font-weight: bold;
}

.title-decoration {
  display: inline-block;
  height: 3px;
  width: 23%;
  background: #ffffff;
  margin: 10px;
}

.form-container {
  max-width: 350px;
  margin-top: 40px;
}

.input-group {
  margin-bottom: 3.5px;
}

.input-xl {
  height: 60px;
  border-radius: 0;
}

.btn-rounded {
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
}

.btn-about {
  border: 2px solid #b93c50;
  padding: 15px 30px 15px 30px;
  background: none;
  width: 340px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 13px;
}

.fa {
  float: right;
}

.sign-up-btn {
  width: 100%;
  background: #5e73ba;
  margin-top: 5px;
}

.social-wrapper {
  margin-top: 50px;
  font-family: socialico;
  font-size: 3em;
  letter-spacing: 20px;
}

.social-icon {

}

.policy-link {
  color: #ffffff !important;
  font-size: 12px;
}

.box {
  width: 350px;
  margin-top: 20px;
  font-weight: bold!important;
  letter-spacing: .5px;
  padding: 15px;
  border: 1px solid #535355;
  color: #535355;
  font-size: 12px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
